$cLightOrange: #FFF6E9;
$cOrange: #FF7F3E;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}




 p {
    font-size: clamp(15px, 2.5vw, 100px);
 } 
.main {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: center;
    background: linear-gradient(to bottom right, #ffb92a 30%, $cOrange 100%);

    @media  (max-width: 435px) {
        background: linear-gradient(to bottom right, #ffb92a 30%, $cOrange 100%);
        grid-template-columns: 1fr;
    }

    & .slide {
        width: 100%;
        // height: 100vh;
        // border-bottom: 1px solid black;
        color:white;
        font-size: 50px;
        text-align: center;
    }
    
    & #slide1 {
        height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: 3fr 2fr;
        // gap: 1rem;
        padding: 30px 30px 10px 30px;
        width: 100%;

        @media  (max-width: 435px) {
            // background: linear-gradient(to bottom right, #ffb92a 30%, $cOrange 100%);
            grid-template-columns: 1fr;
        }
        
        & .slide1-left {
            // background-color: $cLightOrange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            & .slide1-description {
                
                & .title-wrapper{
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    align-items: center;

                    @media screen and (max-width: 435px) {
                        grid-template-columns: 1fr;
                        
                    }

                    & h2#FLASH {
                        text-align: right;
                        margin-right: 0.5rem;
                        font-size: clamp(10px, 3vw, 100px);

                        @media screen and (max-width: 435px) {
                            margin: 0;
                            text-align: center;
                            font-size: clamp(50px, 8vw, 100px);
                        }
                    }
                    & h2#sub-title {
                        text-align: left;
                        font-size: clamp(10px, 3vw, 100px);
                        
                        @media screen and (max-width: 435px) {
                            margin: 0;
                            text-align: center;
                            font-size: clamp(15px, 6vw, 100px);
                        }
                    }
                }

                & p {
                    @media screen and (max-width: 435px) {
                        // margin: 0;
                        font-size: clamp(15px, 2.5vw, 100px);
                    }
                }
            }

            & .app-icons {
                margin-top: 5%;
                display: flex;
                gap: 3rem;
                width: 100%;
                justify-content: center;
                align-items: center;

                

                & .app-icon {
                    // width: 25%;
                    height: 100px;
                    // box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.5);
                    @media  (max-width: 435px) {
                        height: 70px;
                    }
                }
            }
        }

        & .slide1-right {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            & .image-wrapper {
                height: 100%;
                width: 50%;
                & img {
                    // overflow: hidden;
                    width:100%;
                    height:100%;
                    object-fit: contain;
                    filter: drop-shadow(20px 20px 7px rgba(0, 0, 0, 0.4));
                }
            }  
        }
    }
    & #slide2 {
        // position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // gap: 1rem;
        padding: 30px;
        width: 100%;
        @media screen and (max-width: 435px) {
            grid-template-columns: 1fr;
            
        }

        & .slide2-contents {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-height: 100%;
            height: 100vh;
            overflow: hidden;
            gap: 1rem;
            & .slide2-description {
                padding: 0 10px;
                max-height: 25%;
                & p {
                    margin: 0;
                }
            }
            & .slide2-img {
                padding: 10px 30px;
                width: 100%;
                max-height: 75%;
                & img {
                    object-fit:contain;
	                width:100%;
	                height:80%;
                    filter: drop-shadow(20px 20px 7px rgba(0, 0, 0, 0.4));
                }
            

            }
        }
    }


}

.footer {
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    & .footer-content {
        font-size: clamp(10px, 1vw, 10px);
    }
}


